numpy
pandas
xarray
dask
netcdf4
h5netcdf
h5py
bottleneck
geopandas
pyproj
shapely
rasterio
rioxarray
fiona
pyogrio
sentinelhub
planet
requests
tqdm
matplotlib
ipywidgets
ipympl
jupyterlab
notebook
scipy
scikit-learn
statsmodels
